<div class="container">
	<div class="row">
		<div class="span4">
			<h1> Why I'm a good candidate </h1>
			working on interesting projects
			i've learned enough to demonstrate i'm serious and capable

			
			

		</div>
		<div class="span4">
			favorite activity - skiing (use link to aws)

		</div>
		<div class="span4">
			favorite sites

			thinkfit.me - my startup
			daudischool.org - my school project (revamping website as we speak)
			khanacademy.org - got me started with self learning
			codeschool.com - where i'm currently learning
			one month rails - where i got started
		</div>
	</div>
</div>