<div class="container">
	<div class="row">
		<div class="span12">
				<h1>Why me?</h1>
				  <p>I'm a great candidate for launch academy because I am involved with interesting projects that all stand to benefit by my learning to code. Here are a few of the things I'm working on: </p>

				  <h3>ThinkFit.Me</h3>
				  <p>I'm the non-technical cofounder of an enterprise wellness startup. We're launching soon and this project is what really sparked my interest in learning code</p>

				  <h3>Daudi International School</h3>
				  <p>A non profit school in India. So far I've built a computer lab and taught the students and teachers how to use the computer and the internet. The next phase of the project involves building a new school powered by solar and using the Khan Academy ideals of "flipping the classroom." I would also like to implement a technology curriculum, one of the reasons I'm learning code.</p>


				  <p>Additionally, I'm taking courses on codeschool.com, onemonthrails.com, and codeacademy; proving that I have what it takes to learn in an intense, fast paced environment like Launch Academy.</p>
		</div>
	</div>
	<div class="row">
		<div class="span6">
				<h1>My favorite activity</h1> 
				<h2>Skiing</h2>
				<img src="https://s3-us-west-2.amazonaws.com/launchacademy/_2223320.JPG"><br>
				<p>This was taken at Sugarloaf, Maine. A bit of Nordic after a morning of Alpine skiing.</p>
		</div>
		<div class="span6">
				<h1>My favorite sites</h1>
				<h3><a href="http://www.thinkfit.me">thinkfit.me</a> - My startup!</h3>
				<h3><a href="http://www.daudischool.org">daudischool.org</a> - My nonprofit project <img src="https://s3-us-west-2.amazonaws.com/launchacademy/IMG-20110715-00017.jpg"></h3>

				<h3><a href="http://www.jalopnik.com">jalopnik.com</a> - I'm a bit of a gearhead</h3>
				<h3><a href="http://www.digg.com">digg.com</a> - I'm still using it...</h3>				
				<h3><a href="http://www.cracked.com">cracked.com</a> - Hilariously informative</h3>
				<h3><a href="http://www.codeschool.com">codeschool.com</a> - Where I'm currently learning</h3>
		</div>
	</div>
</div>