// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'bootstrap';

@import 'bootstrap-responsive';


.btn-xlarge {
    padding: 18px 28px;
    font-size: 22px;
    line-height: normal;
    width: 80%;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
    }

html,body {
					 background-color:#77BA8F;
}

.span12 {border-bottom: 2px solid #000000;}

p {
		font-size: 20px;
	
}
	
h1,h2 {
		text-align: center;
}