<div class="hero-unit">
	<div class="container">
		<div class="row">
			<div class="span4">
				<h2>Phone: 303 246 7267</h2>
			</div>
			<div class="span8">
				<h2>Email: faizaan2000@gmail.com</h2>
			</div>
		</div>
	</div>
</div>