<div class="hero-unit">
  <div div class="container">
	  <h1>Accept Faizaan into Launch Academy</h1><br>
	 	<div class="span12">
			 <a href="mailto:faizaan2000@gmail.com?subject=You're In!
				&body=Faizaan, We are pleased to inform you..."><a class="btn btn-primary btn-xlarge">
	     	Liftoff!</a></a>
	 	</div>	    
	   
	</div>
</div>

